<div class="login-page">
  <!-- Cabeçalho com logo -->
  <header class="login-header">
    <img src="assets/img/cabecalho.png" alt="SheikPlastic" class="login-logo" />
  </header>

  <!-- Topo com texto e botão "Criar conta" -->
<div class="signup-header">
  <span>Não possui credenciais?</span>
  <button class="signup-btn" routerLink="/cadastro">Solicitar novo acesso</button>
</div>

  <!-- Conteúdo principal -->
  <main class="login-content">
    <div class="login-card">
      <h2 class="login-title">Olá!</h2>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Digite seu email"
          />
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <div class="password-wrapper">
            <input
              id="senha"
              type="password"
              class="form-control"
              formControlName="senha"
              placeholder="Digite sua senha"
            />
          </div>
        </div>

        <a class="forgot-password" routerLink="/recuperar-senha">
          Esqueceu sua senha?
        </a>

        <button class="btn-login" type="submit">Entrar</button>


      </form><br>
              <div *ngIf="error" class="alert-error">{{ error }}</div>
    </div>
  </main>
</div>
