<ul class="submenu">
  <li *ngFor="let item of nodes">
    <div class="submenu-link" (click)="toggleExpand()">
      <span>{{ item.descricao }}</span>
      <i class="fa-solid fa-chevron-right"
         [class.rotated]="expanded"></i>
    </div>

    <ul *ngIf="item.children"
        [@expandCollapse]="expanded ? 'expanded' : 'collapsed'"
        class="submenu-children">
      <li *ngFor="let child of item.children">
        <a [routerLink]="[child.endereco]" class="submenu-link single">
          {{ child.descricao }}
        </a>
      </li>
    </ul>
  </li>
</ul>
