<div class="card-form shadow p-4 rounded mx-auto mt-5" style="max-width: 720px;">
  <h4 class="text-center mb-4 fw-semibold">
    🏙️ {{ editando ? 'Editar Cidade' : 'Nova Cidade' }}
  </h4>

  <form (ngSubmit)="salvar()" #cidadeForm="ngForm">
    <!-- Campo Nome da Cidade -->
    <div class="mb-3">
      <label for="nomeCidade" class="form-label">Nome da Cidade</label>
      <input
        type="text"
        id="nomeCidade"
        class="form-control"
        name="nomeCidade"
        [(ngModel)]="cidade.nomeCidade"
        required
      />
    </div>

    <!-- Campo Estado -->
    <div class="mb-3">
      <label for="estado" class="form-label">Estado</label>
      <select
        id="estado"
        class="form-select"
        name="estado"
        [(ngModel)]="cidade.estado"
        [compareWith]="compararEstados"
        required
      >
        <option [ngValue]="null" disabled selected>Selecione o Estado</option>
        <option *ngFor="let estado of estados" [ngValue]="estado">
          {{ estado.nomeEstado }} ({{ estado.siglaEstado }})
        </option>
        
      </select>
    </div>

    <!-- Botões -->
    <div class="d-flex justify-content-end mt-4">
      <button
        type="submit"
        class="btn btn-success me-2"
        [disabled]="!cidadeForm.form.valid"
      >
        Salvar
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </form>
</div>
