<div class="page-wrapper">
  <div class="scroll-area">
    <div class="container-funcionarios">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb-minimal">
            <li>
              <a routerLink="/home" title="Home">
                <i class="fa-solid fa-house"></i>
              </a>
            </li>
            <li>
              <a routerLink="/home/_cad">Cadastro</a>
            </li>
            <li class="active">Tipo Contato</li>
          </ol>
        </nav>

        <div class="d-flex align-items-center gap-2">
          <button class="btn btn-primary btn-sm rounded-pill px-3 shadow-sm" (click)="novo()"
            title="Cadastrar um novo tipo de contato" data-bs-toggle="tooltip">
            <i class="fa-solid fa-plus me-1"></i> Novo Tipo
          </button>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th style="width: 150px;">Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let t of tipos">
            <td>{{ t.id }}</td>
            <td>{{ t.descricao }}</td>
            <td>
              <button class="btn btn-sm btn-warning me-2" (click)="editar(t.id!)" title="Editar este tipo de contato"
                data-bs-toggle="tooltip">
                <i class="fa fa-pen"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="excluir(t!)" title="Excluir este tipo de contato"
                data-bs-toggle="tooltip">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="tipos?.length === 0">
            <td colspan="3" class="text-center text-muted">Nenhum registro encontrado.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>