<div class="page-wrapper">
  <div class="scroll-area">
<div class="container-funcionarios mt-4">

  <!-- ===== BREADCRUMB COM BOTÃO ===== -->
  <div class="custom-breadcrumb d-flex justify-content-between align-items-center mb-4">
    <nav>
      <ol>
        <li>
          <a routerLink="/home">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/home/_cad">
            <i class="fa-solid fa-folder-open"></i>
            <span>Cadastro</span>
          </a>
        </li>
        <li class="active">
          <i class="fa-solid fa-location-dot"></i>
          <span>Tipo Contato</span>
        </li>
      </ol>
    </nav>

    <button class="btn btn-primary btn-breadcrumb" (click)="novo()">
      <i class="fa-solid fa-plus"></i> Novo Tipo
    </button>

  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of tipos">
        <td>{{ t.id }}</td>
        <td>{{ t.descricao }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="editar(t.id!)"> <i
              class="fa fa-pen"></i></button>
          <button class="btn btn-sm btn-danger" (click)="excluir(t!)"> <i class="fa fa-trash"></i></button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>