<nav class="topbar">
  <div class="left-section">
    <img src="assets/img/cabecalho.png" class="logo" alt="SheikPlastic" />

    <ul class="menu">
      <ng-container *ngFor="let m of menu">

        <!-- MENU COM SUBMENU -->
        <li class="top-menu-item" *ngIf="m.subMenus?.length; else simpleMenu">
          <button class="menu-btn"
                  (click)="toggleTopMenu(m.id, $event)"
                  [class.active]="openedMenu === m.id">
            {{ m.descricao }}
            <i class="fa-solid fa-chevron-down"></i>
          </button>

          <ul class="submenu" *ngIf="openedMenu === m.id">
            <li *ngFor="let s of m.subMenus">
              <a [routerLink]="s.endereco" routerLinkActive="active">
                {{ s.descricao }}
              </a>
            </li>
          </ul>
        </li>

        <!-- MENU SEM SUBMENU -->
        <ng-template #simpleMenu>
          <li>
            <a [routerLink]="m.endereco" routerLinkActive="active">
              {{ m.descricao }}
            </a>
          </li>
        </ng-template>

      </ng-container>
    </ul>
  </div>

  <div class="right-section">
    <button class="icon-btn"><i class="fa-regular fa-bell"></i></button>
    <button class="icon-btn"><i class="fa-regular fa-circle-question"></i></button>

    <div class="user-box" (click)="toggleDropdown()">
      <img src="assets/img/persona.png" class="avatar"/>
      <span class="name">{{ userName }}</span>
      <i class="fa-solid fa-chevron-down arrow"></i>

      <ul class="dropdown" [class.show]="dropdownOpen">
        <li><a routerLink="/home/meu-perfil">Meu Perfil</a></li>
        <li><a routerLink="/home/troca-senha">Trocar Senha</a></li>
        <li><button (click)="logout()">Sair</button></li>
      </ul>
    </div>
  </div>
</nav>
