.navbar {
  height: 56px;
  z-index: 1050;
}

.navbar-brand {
  font-size: 1.2rem;
}

.btn-link {
  text-decoration: none;
}

.navbar-text {
  font-weight: 500;
  color: #fff;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #0d6efd;
}
