/* BASE */
.print-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  padding: 10mm;
}

/* CABEÇALHO */
.header {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
}

.logo img {
  max-width: 110px;
}

.empresa {
  font-size: 11px;
  text-align: right;
}

/* LINHA */
hr {
  border: none;
  border-top: 2px solid #1f4fd8;
  margin: 8px 0;
}



.status-entregue {
  color: green;
  font-weight: bold;
}

/* TABELA */
.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: unset;
}

.tabela th {
  background: #4a79c9;
  color: #fff;
  padding: 6px;
  font-size: 11px;
}

.tabela td {
  border-bottom: 1px solid #4a79c9;
  padding: 5px;
  font-size: 11px;
  text-align: unset;
}

.tabela tfoot td {
  border-top: 2px solid #4a79c9;
  font-weight: bold;
}

.right {
  text-align: right;
}

/* OBS */
.obs {
  margin-top: 12px;
  border-top: 1px solid #4a79c9;
  padding-top: 6px;
  font-size: 11px;
}

/* PRINT */
@media print {
  body {
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .print-page,
  .print-page * {
    visibility: visible;
  }

  .print-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}
.linha-contato {
  font-size: 11px;
  white-space: nowrap;
}
.pedido-dados {
  font-size: 12px;
  margin-bottom: 8px;
}

/* Linhas com duas colunas */
.linha-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4px;
}

/* Linhas que ocupam tudo */
.linha-full {
  margin-bottom: 4px;
  white-space: nowrap;
}

.linha-grid div,
.linha-full {
  white-space: nowrap;
}

.status-entregue {
  color: green;
  font-weight: bold;
}

.urgente {
  color: red;
  font-weight: bold;
  margin-right: 6px;
}