<div class="print-page">

    <!-- CABEÇALHO -->
    <div class="header">
        <div class="logo">
            <img src="assets/img/cabecalho.png" alt="SheikPlastic" />
        </div>

        <div class="empresa">
            <strong>SheikPlastic Indústria e Comércio de Embalagens Ltda</strong><br>
            Av. Sapopemba, 5487 - Vila Formosa - São Paulo/SP - CEP 03374-001<br>
            Fone: (11) 2911-5717 • FAX: (11) 2910-2915
        </div>
    </div>

    <hr />

    <!-- DADOS DO PEDIDO -->
    <div class="pedido-dados">

        <!-- LINHA 1 -->
        <div class="linha-grid">
            <div><strong>Pedido:</strong> {{ pedido.idPedido }}</div>
            <div><strong>Situação:</strong> <span class="status-entregue">ENTREGUE</span></div>
        </div>

        <!-- LINHA 2 -->
        <div class="linha-grid">
            <div><strong>Data do Pedido:</strong> {{ pedido.dtEntradaPedido | date:'dd/MM/yyyy' }}</div>
            <div><strong>Previsão de Entrega:</strong> {{ pedido.dtPrevisaoPedido | date:'dd/MM/yyyy' }}</div>
        </div>

        <!-- LINHA 3 -->
        <div class="linha-grid">
            <div><strong>Cliente:</strong> {{ pedido.nomeCliente }}</div>
            <div>
                <strong>Vendedor:</strong>
                <span *ngIf="pedido.urgente" class="urgente">URGENTE</span>
                {{ pedido.nomeFuncionario }}
            </div>
             
        </div>

        <!-- LINHA 4 -->
        <div class="linha-full" *ngIf="pedido?.endereco">
            <strong>Endereço:</strong>
            {{ pedido.endereco.logradouro }}, {{ pedido.endereco.numero }}
            <span *ngIf="pedido.endereco.complemento">
                - {{ pedido.endereco.complemento }}
            </span>
            - {{ pedido.endereco.bairro }}
            - {{ pedido.endereco.cidade }}/{{ pedido.endereco.estado }}
            - CEP: {{ pedido.endereco.cep }}
        </div>

        <!-- LINHA 5 -->
        <div class="linha-full">
            <strong>Formas de Contato:</strong>
            <span *ngFor="let c of pedido.contatos; let i = index">
                {{ c.descricao }}: {{ c.contato }}
                <span *ngIf="c.observacao">({{ c.observacao }})</span>
                <span *ngIf="i < pedido.contatos.length - 1"> | </span>
            </span>

             <div><strong>Condições de Pagamento  :</strong> {{ pedido.descricaoCondicaoPagamento }}</div>
        </div>

    </div>



    <!-- TABELA -->
    <table class="tabela">
        <thead>
            <tr>
                <th>Item</th>
                <th>Produto</th>
                <th *ngIf="mostrarColunaUNP">UNP</th>
                <th>Qtd Pedido</th>
                <th>UNV</th>
                <th>Qtd Entregue</th>
                <th>Valor Unit.</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let i of itens; let idx = index">
                <td>{{ idx + 1 }}</td>
                <td>{{ i.nomeProduto }} - {{i.complementoProduto}}</td>
                <td *ngIf="mostrarColunaUNP">
                    {{ i.unpItem }}
                </td>
                <td class="right">{{ i.qtdItem | number:'1.2-2' }}</td>
                <td>{{ i.unvItem }}</td>
                <td class="right">{{ i.qtdEntregue | number:'1.2-2' }}</td>
                <td class="right">{{ i.valorVenda | number:'1.2-2' }}</td>
                <td class="right">{{ i.subtotal | number:'1.2-2' }}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td [attr.colspan]="mostrarColunaUNP ? 7 : 6" class="right">
                    <strong>Total do Pedido</strong>
                </td>
                <td class="right"><strong>{{ pedido.valorTotal | number:'1.2-2' }}</strong></td>
            </tr>
        </tfoot>
    </table>

    <!-- OBS -->
    <div class="obs">
        <strong>Obs:</strong> {{ pedido.observacao }}
    </div>

</div>