<div class="container-funcionarios mt-4">

  <!-- ===== CABEÇALHO ===== -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold mb-0">Cadastro > Lista de Estados</h3>
    <button class="btn btn-primary" (click)="novoEstado()">
      <i class="fa-solid fa-plus"></i> Novo Estado
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sigla</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estado of estados">
        <td>{{ estado.idEstado }}</td>
        <td>{{ estado.siglaEstado }}</td>
        <td>{{ estado.nomeEstado }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="editarEstado(estado.idEstado!)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="excluirEstado(estado.idEstado!, estado.nomeEstado)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
