
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
   font-family: 'Inter', sans-serif;
}

/* Remove scroll externo em todas páginas do sistema */
body.no-scroll {
  overflow: hidden !important;
}

/* Wrapper que ocupa a tela toda exceto a navbar */
.main-wrapper {
  height: calc(100vh - 56px); /* Altura da Navbar */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* impede scroll externo */
}



header {
  height: 60px;
  background-color: #0a6cff;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  z-index: 101; /* um pouco acima da sidebar */
  width: 100%;
  top: 0;
  left: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
