/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2;
}



header {
  height: 60px;
  background-color: #0a6cff;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  z-index: 101; /* um pouco acima da sidebar */
  width: 100%;
  top: 0;
  left: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
