/* Global styles */
body { padding-top: 56px; }
.sidebar { min-width: 220px; max-width: 320px; }
.menu-link { cursor: pointer; }

header {
  height: 60px;
  background-color: #0a6cff;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  z-index: 101; /* um pouco acima da sidebar */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}