<div class="container-funcionarios mt-4">
  <!-- ===== CABEÇALHO ===== -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold mb-0">
      Administração > Vincular Funcionários ao Grupo
    </h3>
     <button class="btn btn-primary" (click)="voltar()">
            <i class="fa-solid fa-arrow-left"></i>Voltar
        </button>
  </div>

  <!-- ===== SELEÇÃO DO GRUPO ===== -->
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <label class="fw-semibold">Selecione o Grupo:</label>
        <select
          class="form-select mt-2"
          [(ngModel)]="grupoSelecionado"
          (change)="carregarFuncionariosVinculados()"
          [disabled]="grupoAtual"
        >
          <option value="">-- Escolha um grupo --</option>
          <option *ngFor="let grupo of grupos" [value]="grupo.idGrupoUsuario">
            {{ grupo.nomeGrupoUsuario }}
          </option>
        </select>
    </div>
  </div>

  <!-- ===== FILTRO DE BUSCA ===== -->
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Filtrar por nome ou e-mail..."
      [(ngModel)]="filtro"
    />
    <button class="btn btn-outline-secondary" type="button">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <!-- ===== TABELA DE FUNCIONÁRIOS ===== -->
  <div class="table-responsive bg-white shadow-sm rounded">
    <table class="table align-middle mb-0">
      <thead class="table-light">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Função</th>
          <th class="text-center">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let func of funcionariosFiltrados()">
          <td>{{ func.nomeFuncionario }}</td>
          <td>{{ func.emailFuncionario }}</td>
          <td>{{ func.nomeFuncao }}</td>
          <td class="text-center">
           <div class="text-center">
  <button
    class="btn-status"
    [ngClass]="func.idGrupoUsuario ? 'btn-on' : 'btn-off'"
    (click)="alternarVinculo(func)"
    [disabled]="carregando"
  >
    <i
      class="fa-solid"
      [ngClass]="func.idGrupoUsuario ? 'fa-link' : 'fa-unlink'"
    ></i>
    {{ func.idGrupoUsuario ? 'Vinculado' : 'Desvinculo' }}
  </button>
</div>
          </td>
        </tr>
        <tr *ngIf="funcionarios.length === 0">
          <td colspan="4" class="text-center text-muted py-3">
            Nenhum funcionário encontrado
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
</div>
